@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom transitions */
.transition-shadow {
  transition: box-shadow 0.2s ease-in-out;
}

/* Image hover effect */
.listing-image {
  transition: transform 0.3s ease;
}

.listing-card:hover .listing-image {
  transform: scale(1.05);
}

.input{
background-color: white;
}

 .scrollbar-hidden::-webkit-scrollbar {
   display: none;
 }
 .scrollbar-hidden {
   -ms-overflow-style: none;
  scrollbar-width: none;
 }